<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144714962444-htfb0ga36ckaj27tm04pbmbcgkv76kkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144714962444-htfb0ga36ckaj27tm04pbmbcgkv76kkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAgFz2mRHOCaLcWRkOnP4kIoLuPiOE1ap0</string>
	<key>GCM_SENDER_ID</key>
	<string>144714962444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinnacleapps.freescandex</string>
	<key>PROJECT_ID</key>
	<string>scandex-2821a</string>
	<key>STORAGE_BUCKET</key>
	<string>scandex-2821a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144714962444:ios:f56ae4d57ebf5bb5</string>
	<key>DATABASE_URL</key>
	<string>https://scandex-2821a.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4758294084210006~8951124977</string>
</dict>
</plist>
